<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style1.css' />
  </head>
  <style>
    .align_all{
        text-align: center;
      }
  </style>
  <body>
   <div class="align_all">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <!-- <button onclick="location.href = '/login'; "; id="myButton">Login</button> -->
  <form action="" method="post">
    <input type="submit" value="Login" name="" id="">
  </form>
  </div>
  </body>
</html>
